/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define LWR LOWER
#define RSE RAISE
#define ADJ ADJUST

&mt {
    quick-tap-ms = <180>;

    //tapping-term-ms = <10>;
};

&lt {
    quick_tap_ms = <180>;

    //tapping-term-ms = <10>;
};

/ {
    behaviors {
        //                 Key positions
        //       0  1  2  3  4  5    6  7  8  9 10 11
        //      12 13 14 15 16 17   18 19 20 21 22 23
        //      24 25 26 27 28 29   30 31 32 33 34 35
        //               36 37 38   39 40 41

        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <180>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <
                                         6  7  8  9 10
                       13 14 15 16      18 19 20 21 22
                          26            30 31 32 33 34
                             36 37 38   39 40 41
            >;

            // <---[[right-hand keys + all homerow mods + all thumbs]]
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <180>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <
                        1  2  3  4  5
                       13 14 15 16 17      19 20 21 22
                       25 26 27 28 29            33
                             36 37 38   39 40 41
            >;

            // <---[[left-hand keys + all homerow mods + all thumbs]]

            retro-tap;
        };

        shift_lt: shift_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LT";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };

        question_or_exclamation: question_or_exclamation {
            compatible = "zmk,behavior-mod-morph";
            label = "?/!";
            bindings = <&kp QUESTION>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        return {
            bindings = <&kp RET>;
            key-positions = <19 20>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <14 13>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <36 41>;
        };

        right_atl {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <39 38>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <16 15>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E    &kp R          &kp T          &kp Y     &kp U              &kp I            &kp O  &kp P  &none
&none  &kp A  &kp S  &kp D    &kp F          &kp G          &kp H     &kp J              &kp K            &kp L  &none  &none
&none  &kp Z  &kp X  &kp C    &kp V          &kp B          &kp N     &kp M              &to 1            &none  &none  &none
                     &kp ESC  &kp BACKSPACE  &key_repeat    &sk RGUI  &sk RIGHT_CONTROL  &sk RIGHT_SHIFT
            >;
        };

        numbers {
            bindings = <
&none  &none  &kp N1  &kp N2      &kp N3         &none          &none     &none              &none            &none  &none  &none
&none  &none  &kp N4  &kp N5      &kp N6         &none          &none     &none              &none            &none  &none  &none
&none  &none  &kp N7  &kp N8      &kp N9         &none          &none     &none              &none            &none  &to 0  &none
                      &kp ESCAPE  &kp BACKSPACE  &key_repeat    &sk RGUI  &sk RIGHT_CONTROL  &sk RIGHT_SHIFT
            >;

            label = "num";
        };

        symbols {
            label = "sym";
            bindings = <
&none  &kp PLUS   &none     &kp LEFT_BRACE        &kp RIGHT_BRACE        &gresc               &question_or_exclamation  &kp BACKSLASH      &kp SLASH         &kp PIPE    &none     &none
&none  &kp MINUS  &kp STAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE     &kp PERIOD                &kp CARET          &kp PERCENT       &kp DOLLAR  &kp SEMI  &none
&none  &kp EQUAL  &kp HASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOUBLE_QUOTES    &kp COMMA                 &kp LESS_THAN      &kp GREATER_THAN  &kp UNDER   &to 0     &none
                            &none                 &none                  &key_repeat          &sk RGUI                  &sk RIGHT_CONTROL  &sk RIGHT_SHIFT
            >;
        };

        adjust_layer {
            bindings = <
&none  &none  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT    &none           &none  &none                 &none          &none          &bootloader  &none
&none  &none  &bt BT_CLR  &bt BT_SEL 0      &bt BT_SEL 1  &bt BT_SEL 2    &none  &kp C_VOL_DN          &kp K_MUTE     &kp C_VOL_UP   &none        &none
&none  &none  &none       &none             &none         &none           &none  &kp C_BRIGHTNESS_DEC  &kp C_BRI_MAX  &kp C_BRI_INC  &none        &none
                          &none             &none         &none           &none  &none                 &none
            >;
        };

        temp {
            bindings = <
&none  &none  &none  &none  &none  &none          &none     &none              &none            &none  &none  &none
&none  &none  &none  &none  &none  &none          &none     &none              &none            &none  &none  &none
&none  &none  &none  &none  &none  &none          &none     &none              &none            &none  &none  &none
                     &none  &none  &key_repeat    &sk RGUI  &sk RIGHT_CONTROL  &sk RIGHT_SHIFT
            >;

            label = "5";
        };
    };
};
